<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<div class="container">
{% for exp in exps %}
{% if loop.index0 % 3 == 0 %}
{% if loop.index0 != 0 %}
{% if loop.index0 % 40 == 0 %}
<hr>
{% endif %}
</div>
{% endif %}
<div class="row">
{% endif %}
<div class="col-4 fs-3"><pre>{{ exp }}</pre></div>
{% endfor %}
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
