<!doctype html>
<title>一年级数学题出题神器</title>

<h1>一年级数学题出题神器</h1>
请输入题目数量：<input id="num-expressions" value="45"></input>

<br/>
<br/>

<h3>一年级上</h3>
<div>
    <button type="button" onclick="plusunder10()">10以内加法</button>
    <button type="button" onclick="minusunder10()">10以内减法</button>
    <button type="button" onclick="calculateunder10()">10以内加减法</button>
</div>
<p></p>
<div>
    <button type="button" onclick="plusunder20()">20以内加法</button>
    <button type="button" onclick="minusunder20()">20以内减法</button>
    <button type="button" onclick="calculateunder20()">20以内加减法</button>
</div>
<h3>一年级下</h3>
<div>
    <button type="button" onclick="twodigitsplus1digitcarry()">2位数加1位数进位加法</button>
</div>
<!-- <form onsubmit="twodigitsplus1digitcarry()">
    <input type="submit" value="2位数加1位数进位加法" />
</form> -->

<script type="text/javascript">
    function open_expression_window(url){
        num_expressions = document.getElementById('num-expressions').value
        url += '?num_expressions='+num_expressions
        win_print = window.open(url, '_blank')
        win_print.focus()
        win_print.print()
    }

    function twodigitsplus1digitcarry(){
        url = '/twodigitsplus1digitcarry'
        open_expression_window(url)
    }
    
    function calculateunder20(){
        url = '/calculateunder20'
        open_expression_window(url)
    }
    
    function plusunder10(){
        url = '/plusunder10'
        open_expression_window(url)
    }

    function minusunder10(){
        url = '/minusunder10'
        open_expression_window(url)
    }

    function calculateunder10(){
        url = '/calculateunder10'
        open_expression_window(url)
    }
    
    function plusunder20(){
        url = '/plusunder20'
        open_expression_window(url)
    }

    function minusunder20(){
        url = '/minusunder20'
        open_expression_window(url)
    }
</script>
<!-- <div>
<button type="button">2位数加1位数进位加法</button>
</div> -->